.footer {
    background: #fff;
    color: #000;
    padding: 40px 20px 0;
    font-family: 'Segoe UI', sans-serif;
    border-top: 1px solid #eee;
}

.footer-container {
    max-width: 1280px;
    margin: auto;
}

.footer-logo {
    height: 70px;
    margin-bottom: 20px;
}

.footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-block {
    flex: 1 1 220px;
    margin-bottom: 20px;
}

.ADDRESS_ffooter {
    padding-right: 15px;
}

.footer-block h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: 600;
    color: #000000;
    border-bottom: 1px solid #00000015;
    padding-bottom: 18px;
}

.ADDRESS_ffooter p {
    margin-bottom: 200px;
}

.footer-block p {
    margin: 6px 0;
    color: #444;
    font-size: 16px;
    display: flex;
}

.footer-block p svg {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer-block a {
    color: #444;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
}

.footer-block a:hover {
    color: #da251d;
}

.footer-icon {
    margin-right: 8px;
    vertical-align: middle;
}

.footer-icon.red {
    color: red;
}

/* Bottom Section */
.footer-bottom {
    margin-top: 30px;
    padding: 15px 20px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.footer-bottom::after {
    content: "";
    position: absolute;
    top: -42px;
    right: 55px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/4/46/Make_In_India.png);
    width: 100px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 36px;
    height: 36px;
    border-radius: 0;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
    transition: all 0.3s ease;
    border-radius: 50%;
    background-color: #000;
}

.social-icons a svg {
    color: #fff;
}

.social-icons a:hover {
    background: #da251d;
    color: #fff;
    box-shadow: 0 4px 10px rgba(218, 37, 29, 0.4);
}

.footer-bottom p {
    margin: 0;
}

.footer_logo_new {
    margin-bottom: 10px;
}