.keys-success-section {
    text-align: center;
    padding: 60px 0;
}

.keys-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    animation: fadeInUp 0.4s ease;
}

.keys-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.keys-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
    width: 220px;
    transition: transform 0.3s ease;
    width: 64%;
    /* background: red; */
    margin: 14px 25px;
    width: 95% !important;
}

.keys-success-section .slick-dots {
    bottom: -40px !important;
}

.keys-card:hover {
    transform: translateY(-8px);
}

.icon {
    font-size: 26px;
    color: #da251d;
    margin-bottom: 12px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.keys-readmore {
    margin-top: 30px;
}

.readmore-link {
    color: #da251d;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 0.3s;
}

.readmore-link:hover {
    border-color: #da251d;
}

/* Optional animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.image-hover-effect {
    transition: transform 0.3s ease, filter 0.3s ease;
    height: 280px;
}

.image-hover-effect:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.text_colr_grodaa {
    font-size: 18px;
    font-weight: 600;
    margin-top: 3px;
    text-transform: uppercase;
}